@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 20px;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

nav{
    background-color: gray;
    padding: 10px;
    text-align: center;
}

nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav > a:hover{
    text-decoration: underline;
}


section {
    margin-top: 0px;
    padding-bottom: 10px;
    background-color: #A1C9E3;
    
}

.banner{
    border: none;
    height: 310px;
    margin-top: 0px;
    background-image: url(imagens/img.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
}

.p1{
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 5px;
}

section > p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 22px;
}

main{
    background-color: #F9F9F9 ;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 2px;
}

main > h1{
    font-size: 1.4em;
}

div{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 10px;
}

.container{
    display: flex;
    border: none; 
    flex-direction: row; /*faz com que as divs fiquem alinhadas em linha, collumn alinha em colunas*/
    flex-wrap: wrap; /*fas com que as divs, se necessário, quebrem pra outra linha */
    justify-content: space-evenly; /*justify contente tem 6 propriedades, essa da o maior espaço entre as divs
    */

}

.destaque{
    padding-top:100px;
    border: none;
}


.bloco2{
    width: 160px;
    align-items: center;
}


.frase1{
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
}

.frase2{
    font-size: 0.7em;
    text-align: center;
}



